<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="/scripts/socket.io.js"></script>
    <link rel="stylesheet" href="styles/indexMain.css">
    <title>Chat App</title>
</head>
<body>

    <div id="app">
        <div class="chatSec">
            <div class="chatHead">
                <div class="chatTitle">MarkChat</div>
            </div>
            <div class="chatMain">
                <div class="chatMessages">

                </div>
            </div>
            <div class="chatInput">
                <textarea v-model="userMessage"  @keydown.enter.prevent @keydown.enter="checkMessage()" name="chatInputText" class="chatInputText"></textarea>
                <button @click="checkMessage" class="chatInputButton">Chat</button>
        </div>
    </div>

    <script src="scripts/indexMain.js"></script>
    
</body>
</html>