*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    overflow: hidden;
}

#app {
    height: 100vh;
    overflow: hidden;
}

input {
    border: 1px solid rgb(173, 172, 172);
}

textarea {
    border: 1px solid rgb(173, 172, 172);
}

.setUsernameContain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(20, 20, 20, 0.8);
}

.setUsernameBack {
    width: 60%;
    height: 30%;
    min-height: 100px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: #f7f7f7;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.setUsernameTitle {
    padding-top: 20px;
    font-size: 32px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.setUsernameBack > div {
    width: 400px;
    margin: 0 auto;
}

.setUsernameInp {
    width: 400px;
    font-size: 26px;
    height: 40px;
    box-sizing: border-box;
    text-indent: 4px;
    outline: none;
}

.setUsernameWarn {
    text-indent: 5px;
    font-size: 12px;
    color: rgb(192, 46, 46);
    height: 14px;
}

@keyframes usernameShakeAn {
    0%{transform: translateX(0)}
    25%{transform: translateX(5%)}
    75%{transform: translateX(-5%)}
    100%{transform: translateX(0)}
}

.usernameShake {
    border: 1px solid red;
    animation: usernameShakeAn 0.5s forwards;
}

.setUsernameBut {
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 100px;
    font-size: 26px;
    height: 50px;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    background: rgb(38, 147, 219);
    color: white;
}

.setUsernameBut:hover { 
    cursor: pointer;
    background: rgb(19, 107, 165);
}

.chatHeader{
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    margin-bottom: 10px;
}

.chatHeader > div {
    width: 50%;
}

.chatHeaderTitle {
    font-size: 28px;
    font-weight: bold;
    text-indent: 1%;
}

.chatHeaderUsername {
    font-weight: bold;
    padding-top: 2px;
    font-size: 24px;
    color: rgb(17, 153, 17);
    text-align: right;
    padding-right: 1%;
    vertical-align: center;
}

.chatMain {
    height: calc(100vh - 164px);
    max-height: calc(100vh - 180px);
    overflow: auto;
}

.chatBottom {
    height: 120px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.chatMsgCon  {
    display: flex;
    font-size: 18px;
}

.chatMsgUsername {
    text-align: right;
    padding-right: 2%;
    width: 10%;
    color: rgb(0, 187, 162);
}

.chatMsgUsernameIsUser {
    color: rgba(42, 105, 99, 0.808);
 }


.chatMsgMessage {
    width: 90%;
}

.chatInputCon {
    position: fixed;
    bottom: 20px;
    display: flex;
    width: 100%;
}

.chatInputSec {
    display: flex;
    width: 90%;
    margin: 0 auto;
    
}

.chatInputTxt {
    font-size: 18px;
    box-sizing: border-box;
    width: 80%;
    height: 100px;
    padding: 5px;
    outline: none;
}

.chatInputButton{
    width: 140px;
    height: 100px;
    background: rgb(38, 147, 219);
    color: white;
    font-size: 26px;
}

.chatInputButton:hover {
    cursor: pointer;
    background: rgb(19, 107, 165);
}

.hidden {
    display: none;
}