*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 1px solid rgb(173, 172, 172);
}

.setUsernameContain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(20, 20, 20, 0.8);
}

.setUsernameBack {
    width: 60%;
    height: 30%;
    min-height: 100px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: #f7f7f7;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.setUsernameTitle {
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.setUsernameBack > div {
    width: 400px;
    margin: 0 auto;
}

.setUsernameInp {
    width: 400px;
    font-size: 25px;
    height: 36px;
    box-sizing: border-box;
    text-indent: 4px;
}

.setUsernameBut {
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 80px;
    font-size: 26px;
    height: 36px;
    box-sizing: border-box;
    outline: none;
}

.setUsernameBut:hover { 
    cursor: pointer;
}

.chatHeader{
    border-bottom: 1px solid rgb(216, 216, 216);
    display: flex;
    margin-bottom: 10px;
}

.chatHeader > div {
    width: 50%;
}

.chatHeaderTitle {
    font-size: 28px;
    font-weight: bold;
    text-indent: 1%;
}

.chatHeaderUsername {
    font-size: 22px;
    color: rgb(17, 153, 17);
    text-align: right;
    padding-right: 1%;
    vertical-align: center;
}

.chatMsgCon  {
    display: flex;
    font-size: 18px;
}

.chatMsgUsername {
    text-align: right;
    padding-right: 2%;
    width: 10%;
}

.chatMsgMessage {
    width: 90%;
}

.chatInputCon {
    position: fixed;
    bottom: 10px;
    display: flex;
    width: 100%;
}

.chatInputSec {
    width: 90%;
    margin: 0 auto;
}

.chatInputTxt {
    box-sizing: border-box;
    width: 80%;
    height: 100px;
}

.chatInputButton{
    width: 140px;
    height: 100px;
}


.hidden {
    display: none;
}